

/* Common style */
figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	max-width: 380px;
	max-height: 214px;
	width: 100%;
	background: #25397b;
	text-align: center;
	cursor: pointer;
}


figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure h2 span {
	font-weight: 800;
}

figure h2,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 12px;
}


/*---------------*/
/***** figure hover *****/
/*---------------*/

figure.effect-lily .black-hover{
	position: absolute;
	display: block;
	left: 0;	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	min-height:214px;
	min-width: 300px;
}

figure.effect-lily img:first-child {
	max-width: none;
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	font-size: 18px;
	font-weight: 300;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

@media only screen and (min-width:640px){

	figure.effect-lily:hover img:first-child{	opacity: 0.14}
	figure.effect-lily:hover img.black-hover{ opacity: 0}
	figure.effect-lily:hover p {	opacity: 1;}

	figure.effect-lily:hover img:first-child,
	figure.effect-lily:hover h2,
	figure.effect-lily:hover p {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	figure.effect-lily:hover p {
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
		-webkit-transition-duration: 0.35s;
		transition-duration: 0.35s;
	}
}




/*---------------*/
/***** Roxy *****/
/*---------------*/

figure.effect-roxy {
	height: 214px;	max-height: 214px;
	background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
	background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
	background: #ffffff;
}

figure.effect-roxy h2,figure.effect-roxy h2 a{
	color: #666666;
}
figure.effect-roxy span,figure.effect-roxy p{
	color: #888888;
}

figure.effect-roxy figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-20px,0,0);
	transform: translate3d(-20px,0,0);
}

figure.effect-roxy figcaption {
	padding: 1em;
	text-align: left;
}


figure.effect-roxy figcaption span {
	padding: 6% 0 4px 0; font-size: 12px; font-weight: 300;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-3px,0,0);
	transform: translate3d(-3px,0,0);
}
/*--------
figure.effect-roxy:hover figcaption span {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
-------*/


figure.effect-roxy figcaption h2 {
	padding: 2% 0 10px 0; font-size: 18px; font-weight: 300;
	cursor: pointer;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-roxy figcaption p {
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media only screen and (min-width:640px){
	
	figure.effect-roxy:hover figcaption h2 {
		opacity: 1;
		-webkit-transform: translate3d(-3px,0,0);
		transform: translate3d(-3px,0,0);
	}

	figure.effect-roxy:hover figcaption h2 a{ color: #25397b}

	figure.effect-roxy:hover figcaption p {
		opacity: 1;
		-webkit-transform: translate3d(2px,0,0);
		transform: translate3d(2px,0,0);
	}
}

