/* topNav 导航栏*/
.am-topbar{
	min-height: 88px;
	margin-bottom: 0; z-index: 9999
}
.am-topbar-inverse{
	background-color: #6AA0E2;
	background: url(../img/head-inner-back.png) bottom center no-repeat;
	border: none;
	color: #a1aac9;
}
.am-topbar .am-topbar-package{
}
.am-topbar-brand{
	height: 55px;
  margin-top: 12px;
}
.am-topbar .am-text-ir {
  display: block;
  margin-right: 10px;
  height: 55px;
  width: 201px;
  background: url(../img/logo-inner.png) no-repeat;
  -webkit-background-size: 201px 55px;
  -moz-background-size: 201px 55px;
  -ms-background-size: 201px 55px;
  -o-background-size: 201px 55px;
  background-size: 201px 55px;
  display: inline-block;
  float: left;
}

.am-nav,.am-nav-pills>li{ height: 81px;}
.am-topbar-nav>li>a{ line-height: 81px; color: #a1aac9}
.am-topbar-inverse .am-topbar-nav>li>a{ color: rgba(255,255,255,0.81); font-size: .875em; width: 112px;
	text-align: center}

.am-topbar-inverse .am-topbar-nav>li>a i{
	font-size: 0.625em;
}

	/* search 搜索控件*/
div.search-box form {
	margin: 24px 20px 0 0
}
div.search-box form input.search {
	height: 36px;
	width: 94px;
	float: right;
	padding-left: 5px;
	padding-right: 30px;
	color: #707ba0;
	outline: 0;
	border: 0;
	text-indent: 0.75em;
	font-family: 'Roboto Condensed', sans-serif;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
	border-radius: 24px;
	background-color: #4986d1;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position:65px 9px;
}
div.search-box form input.search:focus {
	width: 160px;
	color: #293e86;
	background-color: #ffffff;
	background-image: url(../img/search-hover.png);
	background-position: 129px 9px
}

.eng{ line-height: 72px; font-size: .875em; color: #a1aac9}
.am-topbar-inverse a.eng{color: #a1aac9}
/* topNav 导航栏  END*/

/* 
nav.newsCenterNav.am-menu-offcanvas1 .am-menu-nav>li>a{ text-align: center; text-indent: 2em;}
*/

/* header-listStatus 栏目状态栏*/
.listStatus.am-header{ padding: 0;}
.listStatus{ background: #6398dc; height: 240px; max-height: 240px; position: relative; overflow: hidden;
	margin-top: 0; z-index: 0}
.listStatus .imgBlur{ z-index: -1; position: absolute; top:0; 	overflow: hidden; height: 100%; 
	max-height: 100%; width: 100%; left: 50%;
    -webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    -o-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);}

.listStatus .imgBlur{  
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
	-webkit-filter: blur(0); /* Chrome, Opera */
       -moz-filter: blur(0);
        -ms-filter: blur(0);
         -o-filter: blur(0);
            filter: blur(0);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=0, MakeShadow=false); /* IE6~IE9 */
  }
.listStatus:hover .imgBlur{
    -webkit-filter: blur(24px); /* Chrome, Opera */
       -moz-filter: blur(24px);
        -ms-filter: blur(24px);
         -o-filter: blur(24px);    
            filter: blur(24px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=0, MakeShadow=false); /* IE6~IE9 */}

.listStatus .imgBlur img{ width: 100%; overflow: hidden; 
		min-width: 100%;position: absolute;
    bottom: 0;}

.listStatus.am-header h1.am-header-title{ margin-top: 0; margin-bottom: 0; z-index: 1001; position: relative; 
 font-size: 2.25em; font-weight: normal; color: #ffffff; letter-spacing: .25em;
	text-align: center; line-height: 320px;
	text-shadow:0 2px 9px rgba(0,0,0,0.32);}

.listStatus.newsStatus{
	background: #2f3541
}
.listStatus.newsStatus:hover .imgBlur{
    -webkit-filter: blur(8px); /* Chrome, Opera */
       -moz-filter: blur(8px);
        -ms-filter: blur(8px); 
         -o-filter: blur(8px);    
            filter: blur(8px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=0, MakeShadow=false); /* IE6~IE9 */}
/* header-searchStatus 栏目状态栏*/
.listStatus.searchStatus{ background: #303c54}
.listStatus.searchStatus:hover .imgBlur{
    -webkit-filter: blur(8px); /* Chrome, Opera */
       -moz-filter: blur(8px);
        -ms-filter: blur(8px); 
         -o-filter: blur(8px);    
            filter: blur(8px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=0, MakeShadow=false); /* IE6~IE9 */}
.listStatus.searchStatus .search-box{ margin-top: 3em}
.listStatus.searchStatus .search-box .am-input-group-primary{ width: 90%; margin: 0 auto}
.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn{
	padding: 1em 2.25em; background: #5a6485; border: 1px solid #5a6485;}

.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn:hover{
	background: #4b5370; border: 1px solid #4b5370;}
.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn span.am-icon-search{
	font-size: 1.25em;}
.listStatus.searchStatus .search-box .am-input-group-primary input.am-form-field{
	height: 3.625em; border:.0em solid #5a6485; text-indent: 1em; color: black;}

/* header-listStatus 栏目状态栏 End*/

.list{ z-index: 9999999;}
/* status 状态栏*/
.statusBar{ background: #ffffff; height: 54px; width: 100%; z-index: 1002;
		box-shadow: 0 1px 5px rgba(0,0,0,0.3);
		-o-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
		-ms-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.vessay-seg{ height: 72px; background: #f5f5f5; z-index: 1021}
.vessay-seg.videoPlay-seg{ background: #333333;}
.vessayBar{border-bottom: 1px solid #dddddd; background: #ffffff;}
.statusBar .am-breadcrumb{ margin-bottom: 0; padding:0; z-index: 1002;}
.statusBar .am-breadcrumb li a{ color: #333333; line-height: 54px;
	font-size: .875em;}
.statusBar .am-breadcrumb li a:hover{ color: #000000;}
.statusBar .am-breadcrumb li.am-active{ font-size: .875em}
.statusBar ul.subNav{
	float: right; margin-bottom: 0
}
.statusBar ul.subNav li{
	float: left; font-size: .75em; color: #333333; margin-left: 24px;
	line-height: 54px;
}
.statusBar ul.subNav li a{ color: #333333}
	/* status  listBar */
	.statusBar.listBar{ 
		box-shadow: none;
		-o-box-shadow: none;
		-ms-box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none; border-bottom: 1px solid #eaeaea;
		 z-index: 1002;}
	.statusBar.listBar .am-breadcrumb li a i{
		font-size: 1.25em;  margin-right: 0.5em;
	}
	.statusBar.listBar ul.listSort{
		float: right; margin-bottom: 0
	}
	.statusBar.listBar ul.listSort li{
		float: left; margin-left: 24px; line-height: 54px; z-index: 1002;
	}
	.statusBar.listBar ul.listSort li span{
		font-size: .875em; color: #333333; z-index: 1002;
	}
	.statusBar.listBar ul.listSort li a span{ color: #aaaaaa; font-size: 1em; z-index: 1001;}
	

	/* status 排序 span.icon 背景灰与下划线
	.statusBar.listBar,.statusBar.listBar ul.listSort li,
	.statusBar.listBar ul.listSort li span,
	.statusBar.listBar ul.listSort li a span{
		 background: #f5f5f5; border-bottom: 1px solid #eaeaea
	} */
	
	.statusBar.listBar ul.listSort li a.am-active span{ color: #293e86}
	.statusBar.listBar ul.listSort li a:hover span{ color: #293e86}
	/* status  listBar END*/

	/* status  searchBar */
	.statusBar.searchBar{ background: #ffffff; border-bottom: 1px solid #dddddd;}
	.statusBar.searchBar .search-key,.statusBar.searchBar .search-results{ 
		font-size: .875em; line-height: 54px; color: #888888;}
	.statusBar.searchBar .search-results{ float: right;}
	.statusBar.searchBar .search-key a,.statusBar.searchBar .search-results a{ font-size: 1.25em; color: #293E86;
		margin: 0 12px; font-weight: bold;}
	/* status  searchBar END*/

	.navBar ul li {float:left;	padding:0 20px;	text-align:center;
		height:54px;	line-height:54px; cursor: pointer;}
	.navBar ul li a{ color: #777777;}
	.navBar ul li.active a{ }
	.navBar .curBg { background:#293e86;	height:3px;	position:absolute;
		width:68px;	left:0px;}
	
	.navBar ul li:hover{ background: #ececec;}
	.navBar ul li:hover a{ color: #293e86; font-weight: bold;}

/* status 状态栏  END*/




/* article 文章*/
.article{ z-index: 99;}
.article .article-pic{ height: 420px; overflow: hidden; position: relative;}
.article-pic .article-pic-hover{ background: url(../img/art-hover.png);
	position: absolute; z-index: 10; width: 100%; height: 420px;}
.article-pic img{ width: 100%;
    -webkit-transform: translateX(0%) translateY(-28%);
    -moz-transform: translateX(0%) translateY(-28%);
    -ms-transform: translateX(0%) translateY(-28%);
    -o-transform: translateX(0%) translateY(-28%);
    transform: translateX(0%) translateY(-28%);
	position: absolute; z-index: 9;
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(0px); /* Chrome, Opera */
       -moz-filter: blur(0px);
        -ms-filter: blur(0px);
         -o-filter: blur(0px);     
            filter: blur(0px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=0, MakeShadow=false); /* IE6~IE9 */
}


/* 最热新闻 － 手机端 状态栏 */
.article .status-phone { padding:.75em .5em 1.2em;  text-shadow:0 2px 6px rgba(0,0,0,0.6); }
.article .status-phone a.status-back{display: inline-block; z-index: 11;}
.article .status-phone a.status-back,.article .am-cf a{ color: #ffffff;}
.article .status-phone a.status-back{ float: left;}
.article .status-phone .am-cf a.phone-share{ float: right;
	font-size: 1.25em;}


.article-pic .am-article{ z-index: 11; height: 420px; position: relative;}
.article-pic .am-article h1{ color: #dddddd; font-size: 2.25em;
	margin-top: 160px; letter-spacing: 2px; margin-left: 0; 
	font-weight: 400;}
.article-pic .am-article .am-article-meta{ bottom: 36px;
	position: absolute; width: 100%; height: 24px; font-size: .875em;
	line-height: 24px;}
.article-pic .am-article .am-article-meta .am-u-lg-8{ line-height: 24px;}
.article-pic .am-article .am-article-meta .am-u-lg-8 a{ color: #999999}
.article-pic .am-article .am-article-meta .am-u-lg-8 a:hover{ text-decoration: underline;}
.article-pic .am-article .am-article-meta .am-u-lg-8 .article-meta-nature1,
.article-pic .am-article .am-article-meta .am-u-lg-8 .article-meta-nature2,
.article-pic .am-article .am-article-meta .am-u-lg-8 .article-meta-nature3{ display: inline-block;}
.article-pic .am-article .am-article-meta .am-u-lg-4 .jiathis_style_24x24 .jiathis_counter.jiathis_bubble_style{ 
	width: 60px !important}

span.am-icon-thumbs-o-up:hover{ color: #e87750; cursor: pointer;}
/* .art-icon{ padding-top: 13px;}
.art-icon-time{ width: 16px; height: 16px; background: url(../img/art-icon.png) 0 0;
	display: inline-block; margin-right: 8px; margin-left: 6px;}
.art-icon-eye{ width: 20px; height: 16px; background: url(../img/art-icon.png) -16px 0;
	display: inline-block; margin-right: 8px; margin-left: 6px;}
.art-icon-good{ width: 18px; height: 18px; background: url(../img/art-icon.png) -18px -16px;
	display: inline-block; margin-right: 8px;}
.art-good{ display: inline-block; margin-left: 8px; cursor: pointer;}
.art-good:hover .art-icon-good{ background: url(../img/art-icon.png) 0 -16px;}
.art-good:hover {color: #ffffff}*/

.jiathis_style_24x24{ display: inline-block; margin-left: 8px}




/* article 正文*/
blockquote img{ display: inline-block; position: absolute; left: -3.125em;}
blockquote{ border: 1px solid #58a4db; position: relative;
	border-left: 64px solid #58a4db;
	background: #fbfbfb; 
	margin: 24px auto 24px; display: block; padding: 2em 2.25em 1.5em; 	font-size: .875em
}
.am-slider-c3.art-slide{
		box-shadow: none;
		-o-box-shadow: none;
		-ms-box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;}
.art-slide{ width: 1000px; height: 600px; margin:0 auto; overflow: hidden}
.art-slide ul.am-slides li{ width: 100%; height: 100%;}
.am-slider-c3 .am-slider-desc,.am-slider-c3 .am-slider-counter{ height: 3em;}
.am-slider-c3 .am-slider-desc{ right: 20em; top: 30em;}
.am-slider-c3 .am-slides.am-gallery-default .am-gallery-title.am-slider-desc{
	margin-top: 0; margin: 0; padding: 0;
	font-weight: normal;	font-size: 1em; right: 20em; top: 30em;
}
.am-slider-c3 .am-slider-counter{ 
	width:74px; background-color: #293e86;
	line-height: 48px; margin-right: 1.25em; font-size: 1em}
.am-slider-c3 .am-direction-nav a{ padding: 16px 0;}
.am-slider-c3 .am-slider-counter .am-active{ font-size: 1.5em; line-height: 48px;}
.am-slider-c3.art-slide .am-figure-default { margin: 0;}
.am-slider-c3.art-slide .am-figure-default img{
  max-width: 100%;
  height: auto;
  padding: 0;
  border: none;
  margin: 0 auto;
}


.am-article p{ text-indent: 2em; margin-bottom: 2em; font-size: 1em; color: #000000;
	line-height: 32px;}
.am-article p.companyInfo{
	line-height: 1.25em; margin-bottom: 0;
}
.am-article p.companyInfo b{ color: #666666; width: 120px; display:inline-block; text-align: right; margin-right: 0.75em;}
/* 页尾label 标签&操作*/ 
.label{ margin: 2em auto 3em;}
.label .label-title{display: block; font-size: 1.25em; 
	font-weight: 600; color: #666666}
/* .label .label-title .label-icon{ display: inline-block; width: 14px; height: 20px;
	background: url(../img/label.png); margin-right: 12px;
}*/
.label .label-span{ display: block; margin-top: 10px;}
.label .label-span a{ height: 36px; width: auto; padding: 10px 16px 8px; 
	border: 1px solid #e9e9e9; font-size: .75em; display: block; float: left;
	margin-right: 12px;  margin-bottom: 12px;
	line-height: 14px;
	border-radius: 32px;
	-o-border-radius: 32px; 
	-ms-border-radius: 32px; 
	-moz-border-radius: 32px; 
	-webkit-border-radius: 32px;
	color: #333333;}

.label .label-span a:hover{ background: #eeeeee; color: #000000}


/* 页尾用户点赞、手机端浏览&分享按钮*/
.usr-action { margin: 64px auto 32px; width: 240px; height: 108px; padding-left: 0;}

.usr-action li,
.usr-action li a.good-button{ background: #e46496; width: 108px; height: 108px;
	border-radius: 64px; font-size: 1em;
	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	-ms-border-radius: 64px;
	-o-border-radius: 64px;
	margin: 0 6px; float: left; text-align: center;
	color: #ffffff; cursor: pointer;
}
.usr-action li a.good-button{ margin: 0;}
.usr-action .usr-share ul.am-cf li,.usr-action li.phone-qrcode{ background: #3b9ad9;}
.usr-action .usr-share ul.am-cf li:nth-child(1){background: #ec4c4d;}
.usr-action li span{ display: block;}
.usr-action li span.good{ width:42px; height: 39px; 
	background: url(../img/good.png); margin-left: 33px; margin-top: 24px;
	margin-bottom: 4px;}
.usr-action li span.phone{ width:37px; height: 61px; background: 
	url(../img/phone.png); margin-left: 35px; margin-top: 24px;}

.usr-action li a.good-button-uable{ background: #dddddd; width: 108px; height: 108px;
	border-radius: 64px; font-size: 1em;
	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	-ms-border-radius: 64px;
	-o-border-radius: 64px;
	margin: 0; float: left; text-align: center;
	color: #999999; cursor: pointer;
}
.usr-action li a.good-button-uable span.good{ width:42px; height: 39px; 
	background: url(../img/goodUable.png); margin-left: 33px; margin-top: 24px;
	margin-bottom: 4px;}
.usr-action li a.good-button-uable label{ color: #999999;}

	/* 页尾分享按钮样式控制*/
.usr-action .usr-share ul.am-cf{ padding-left: 0;}
.usr-action .usr-share ul.am-cf li a.phone-share{ float: none; text-align: center; margin-top: 16px;}
.usr-action .usr-share ul.am-cf li a.phone-share span.am-icon-share-alt, .usr-action .usr-share ul.am-cf li a.phone-share span.am-icon-thumbs-up{ font-size: 2.25em; color: #fff;}
.usr-action .usr-share ul.am-cf li a.phone-share span.am-navbar-label{ 
	font-size: .875em;  margin-top: -4px;}
	/* 页尾按钮 交互颜色加深*/
.usr-action li:hover,
.usr-action li a.good-button:hover{ background: #c85783}
.usr-action .usr-share ul.am-cf li:hover,.usr-action li.phone-qrcode:hover{ background: #3387be}
.usr-action .usr-share ul.am-cf li:nth-child(1):hover{background: #dc5c5d;}

.usr-action li:first-child{background: none;}
.usr-action li:first-child:hover{ background: none;}

/* relnews 相关阅读*/
.relNews{ background: #f5f7fa;}
.relNews h2{ font-size: 1.25em; margin: 2em auto 1.2em .5em;
	font-weight: 600}
.relNews ul.am-avg-lg-4{ margin-bottom: 4em;}
.relNews ul.am-avg-lg-4 li .rel-box{ 
		border:1px solid #e1e3e6;
		-o-border:1px solid #e1e3e6;
		-ms-border:1px solid #e1e3e6;
		-moz-border:1px solid #e1e3e6;
		-webkit-border:1px solid #e1e3e6;
		background:#f5f7fa; margin-bottom: 1em}
.relNews ul.am-avg-lg-4 li .rel-box:hover{ 
		background: #ffffff;
		border:1px solid #6AA0E2;
		-o-border:1px solid #6AA0E2;
		-ms-border:1px solid #6AA0E2;
		-moz-border:1px solid #6AA0E2;
		-webkit-border:1px solid #6AA0E2;}
.relNews ul.am-avg-lg-4 li .rel-box a.rel-img{ width: 100%;
 display: block;
 height: 0; padding-bottom: 56.25%; overflow: hidden;
 background: #dddddd}

.relNews ul.am-avg-lg-4 li .rel-box a.rel-img img{ width: 100%;}


.relNews ul.am-avg-lg-4 li .rel-box .rel-tit{ padding: .25em .625em .75em;}
.relNews ul.am-avg-lg-4 li .rel-box:hover .rel-tit{ background: #ffffff}
.relNews ul.am-avg-lg-4 li .rel-box .rel-tit a.relTitle{
	color: #555555; font-size: 0.875em; line-height: 3em;
	display: block; 
	white-space:nowrap !important; word-wrap: normal; overflow: hidden; white-space: nowrap;
 	text-overflow: ellipsis; -o-text-overflow: ellipsis;
 	-ms-text-overflow: ellipsis; -moz-text-overflow: ellipsis;
 	-webkit-text-overflow: ellipsis;  }
.relNews ul.am-avg-lg-4 li .rel-box .rel-tit p{ margin-top: 0; margin-bottom: 0;
	font-size: 0.75em; color: #aaaaaa;}
.relNews ul.am-avg-lg-4 li .rel-box .rel-tit p.am-fl{ }
.relNews ul.am-avg-lg-4 li .rel-box .rel-tit p.am-fr{ }
.relNews ul.am-avg-lg-4 li .rel-box .rel-tit p span.rel-icon-eye{ 
	width: 16px; height: 10px;
	background: url(../img/rel-icon-eye.png); display: inline-block;}
.rel-padding-horizontal-xs{ padding-right: .5em; padding-left: .5em}


/* listnews 列表文章*/
.listNews{ background: #edf1f6; padding-bottom: 4em;}
.listNews ul li .list-card{
		border:1px solid #e1e3e6;
		-o-border:1px solid #e1e3e6;
		-ms-border:1px solid #e1e3e6;
		-moz-border:1px solid #e1e3e6;
		-webkit-border:1px solid #e1e3e6;
		background:#f5f7fa; margin-top: 2em}
.listNews ul li .list-card:hover{ 
		background: #ffffff;
		border:1px solid #6AA0E2;
		-o-border:1px solid #6AA0E2;
		-ms-border:1px solid #6AA0E2;
		-moz-border:1px solid #6AA0E2;
		-webkit-border:1px solid #6AA0E2;}

.listNews ul li .list-card.label{ margin: 2em auto 0; padding: 1.5em; overflow: auto;}
.listNews ul li .list-card.label .label-title{ display: block; font-size: 1.125em; 
	font-weight: normal; color: black; line-height: 36px;}
.listNews ul li .list-card.label .label-title span.am-icon-tags{ color: #293e86}
.listNews ul li .list-card.label .label-span{ 
	max-height: -webkit-calc(100% - 3em);
	max-height: -moz-calc(100% - 3em);
	max-height: -ms-calc(100% - 3em);
	max-height: -o-calc(100% - 3em);
	max-height: calc(100% - 3em); 
	
	overflow: auto;}

.listNews ul table tbody tr td a{ color: #666666}
.listNews ul table tbody tr td a:hover{ color: #000000}


.listNews ul li .list-card a.list-img{ width: 100%; display: block; position: relative;
 height: 0; padding-bottom: 56.25%; overflow: hidden;	background: #dddddd}
.listNews ul li .list-card a.list-img img{ width: 100%;}
.listNews ul li .list-card div.list-img{ width: 100%; display: block; position: relative;
 height: 0; padding-bottom: 56.25%; overflow: hidden;	background: #dddddd}
.listNews ul li .list-card div.list-img img{ width: 100%;}
.listNews ul li .list-card div.list-img a.list-label{ position: absolute; top:1.125em; left: 1.375em;
	width: 98px; height: 32px; background: rgba(65,140,223,.88); color: #ffffff; line-height: 32px;
	font-size: .875em; letter-spacing: 2px; text-align: center;}
.listNews ul li .list-card a.list-img span.list-label{ display: block; width: 98px; height: 32px;
	position: absolute; top:1.125em; left: 1.375em;
	background: rgba(65,140,223,.88); color: #ffffff; line-height: 32px;
	font-size: .875em; letter-spacing: 2px; text-align: center;}
.listNews ul li .list-card:hover a.list-img span.list-label{ 
	background: rgba(41,62,134,.88);}
.listNews ul li .list-card .list-tit{
	padding: .25em .875em .75em;}
.listNews ul li .list-card:hover .list-tit{ background: #f9f9f9}
.list .listNews ul li .list-card .list-tit a.mainTitle{
	font-size: 1.125em; color: black; display: block;
}
.video-info .listNews ul li .list-card .list-tit a.mainTitle{
    font-size: 1.125em; color: black; display: block;
}
.listNews ul li .list-card .list-tit p.subTitle{ margin-bottom: .5em;
	font-size: .75em; line-height: 20px; height: 8em;}
.listNews ul li .list-card .list-tit p{ margin-top: 0; margin-bottom: 0;
	font-size: 0.75em; color: #999999;}
.listNews ul li .list-card .list-tit p.am-fl{ }
.listNews ul li .list-card .list-tit p.am-fr{ color: #dddddd }
.listNews ul li .list-card .list-tit p.am-fr span{ 
	color: #999999; margin: 0 0.5em; }
.listNews ul li .list-card .list-tit p.am-fr a span.am-icon-thumbs-o-up{ 
	color: #999999; margin: 0 0.5em; }
.listNews ul li .list-card .list-tit p.am-fr a:hover span.am-icon-thumbs-o-up{ 
	color: #e87750; }
.listNews ul li .list-card .list-tit p span.list-icon-eye{ 
	width: 16px; height: 10px;
	background: url(../img/rel-icon-eye.png); display: inline-block;}
.list-padding-horizontal-xs{ padding-right: .5em; padding-left: .5em}







.listVideos{ background: #f5f5f5;}
.listVideos h2{ font-size: 1.25em; margin: 2em auto 1.2em .5em;
	font-weight: 600}
.listVideos ul.am-avg-lg-4{ margin-bottom: 4em; padding-top: 1em;}
.listVideos{ z-index: 1011; position: relative;}
.listVideos ul.am-avg-lg-4 li .rel-box{ 
	box-shadow: 0 1px 1px rgba(0,0,0,0.12);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
	background:#ffffff; margin-bottom: 1em; margin-top: 1em;}
.listVideos ul.am-avg-lg-4 li .rel-box:hover{
	box-shadow: 0 2px 12px rgba(0,0,0,0.18);
	-o-box-shadow: 0 2px 12px rgba(0,0,0,0.18);
	-ms-box-shadow: 0 2px 12px rgba(0,0,0,0.18);
	-moz-box-shadow: 0 2px 12px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0 2px 12px rgba(0,0,0,0.18);}
.listVideos ul.am-avg-lg-4 li .rel-box a.rel-video{ width: 100%; display: block;
 	height: 0; padding-bottom: 56.25%; overflow: hidden;	background: #293e86;
	margin-top: 0;}

.listVideos ul.am-avg-lg-4 li .rel-box a.rel-video img{ width: 100%;}
.listVideos ul.am-avg-lg-4 li .rel-box a.rel-video h2{ text-align: left; left: 0.375em; right: 0.375em;
	bottom: -0.625em; font-size: 0.875em;}








#loading-more{ display: none;}


	/* 新闻中心 - 加载更多  Start */

	.refreshBox{ padding-bottom: 5em; margin-top: 6em;}
	.refreshBox button.btn-refresh{ width: 40%; font-size: 1.125em; color: #333333; background: #ffffff;
		box-shadow: 0 1px 6px rgba(0,0,0,0.12);
		-o-box-shadow: 0 1px 6px rgba(0,0,0,0.12);
		-ms-box-shadow: 0 1px 6px rgba(0,0,0,0.12);
		-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.12);
		-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.12); line-height: 48px; display: block;
		text-align: center; margin: 2em auto 0; border:none; letter-spacing: 0.25em;
		}
	.refreshBox button.btn-refresh:hover{ background: #f9f9f9;
		box-shadow: 0 2px 12px rgba(0,0,0,0.24);
		-o-box-shadow: 0 2px 12px rgba(0,0,0,0.24);
		-ms-box-shadow: 0 2px 12px rgba(0,0,0,0.24);
		-moz-box-shadow: 0 2px 12px rgba(0,0,0,0.24);
		-webkit-box-shadow: 0 2px 12px rgba(0,0,0,0.24);}
	.refreshBox button.btn-refresh:hover,	.refreshBox button.btn-refresh:focus{
		 border:none; 
	}
	/* 新闻中心 - 加载更多  End */





/* newsGather 新闻集合（信息公告、幻灯、最新、最热新闻）  Start*/
	/* .newsGather{ background: #f5f5f5; padding-top: 3em; padding-bottom: 3em;}
	.newsGather .list-padding-horizontal-md{ padding-right: .75em; padding-left: .75em}
	.newsSlide{ width: 100%; height: 370px; margin:0 auto; overflow: hidden}
	.newsSlide ul.am-slides li{ width: 100%; height: 100%;}
	.newsSlide ul.am-slides li img{ min-height: 100%; height: 370px; width: 790px; min-width: 790px;
		position: relative; left: 50%;
	    -webkit-transform: translateX(-50%) translateY(0);
	    -moz-transform: translateX(-50%) translateY(0);
	    -o-transform: translateX(-50%) translateY(0);
	    -ms-transform: translateX(-50%) translateY(0);
	    transform: translateX(-50%) translateY(0);} */
	.newsSlide.am-slider-c3 .am-slider-desc{
	  right: 12em; top: 17em;}
	.newsGather .listNews .list-card.recentNews,.newsGather .listNews .list-card.hotNews{
		height: 420px;}
	 .newsGather .listNews ul.am-avg-lg-2 li .list-card{ 
		box-shadow: 0 1px 1px rgba(0,0,0,0.12);
		-o-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
		-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
		background:#ffffff; margin-top: 1.5em}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card:hover{ 
		box-shadow: 0 2px 12px rgba(0,0,0,0.18);
		-o-box-shadow: 0 2px 12px rgba(0,0,0,0.18);
		-ms-box-shadow: 0 2px 12px rgba(0,0,0,0.18);
		-moz-box-shadow: 0 2px 12px rgba(0,0,0,0.18);
		-webkit-box-shadow: 0 2px 12px rgba(0,0,0,0.18);}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card{ margin: 1.5em auto 0; padding: 1.5em; overflow: hidden;
		position: relative;}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card .gather-title{ display: block; font-size: 1.25em; 
	font-weight: normal; color: black; line-height: 36px;}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card .gather-title span.am-icon-newspaper-o{ color: #40c72d;
		margin-right: .25em;}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card .gather-title span.am-icon-fire{ color: #ce0e0e;
		margin-right: .25em;}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card ul.gather-list{ 
		max-height: -webkit-calc(100% - 6em);
		max-height: -moz-calc(100% - 6em);
		max-height: -ms-calc(100% - 6em);
		max-height: -o-calc(100% - 6em);
		max-height: calc(100% - 6em);  
		height: -webkit-calc(100% - 6em);
		height: -moz-calc(100% - 6em);
		height: -ms-calc(100% - 6em);
		height: -o-calc(100% - 6em);
		height: calc(100% - 6em);
	 overflow: auto; list-style-type: square; color: #cccccc; margin-top: 1em;}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card ul.gather-list li{ margin: .25em auto 1.175em; font-size: .875em;}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card ul.gather-list li a{ color: #333333; font-size: .875em;}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card a.more{ color: #979797; font-size: .75em; 
		position: absolute; bottom: 1.75em; right: 2em}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card a.more span{ display: inline-block; width: 13px; height: 13px;
	background: url(../img/more.png); margin-left: 4px; margin-bottom: -2px;}

	.newsGather .infoCenter{ margin: 0 auto; padding: 1.5em 0; overflow: hidden; 
		height: 814px; height: clac(790px + 1.5em);}
	.newsGather .infoCenter .gather-title{ display: block; font-size: 1.25em; 
		font-weight: normal; color: black; line-height: 36px; padding-left: 1.5em;}
	.newsGather .infoCenter .gather-title span.am-icon-volume-up{ color: #293e86;
		margin-right: .25em;}
	.newsGather .infoCenter a.more{ color: #979797; font-size: .75em; 
		position: absolute; bottom: 1.75em; right: 2em}
	.newsGather .infoCenter a.more span{ display: inline-block; width: 13px; height: 13px;
	background: url(../img/more.png); margin-left: 4px; margin-bottom: -2px;}

	.newsGather .infoCenter ul.am-list{ margin-top: .75em;}

	.newsGather .infoCenter{
		box-shadow: 0 1px 1px rgba(0,0,0,0.12);
		-o-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
		-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
		background:#ffffff;}
	.newsGather .infoCenter:hover{ 
		box-shadow: 0 2px 12px rgba(0,0,0,0.18);
		-o-box-shadow: 0 2px 12px rgba(0,0,0,0.18);
		-ms-box-shadow: 0 2px 12px rgba(0,0,0,0.18);
		-moz-box-shadow: 0 2px 12px rgba(0,0,0,0.18);
		-webkit-box-shadow: 0 2px 12px rgba(0,0,0,0.18);}
/* newsGather 新闻集合（信息公告、幻灯、最新、最热新闻）  End*/
	i.am-icon-angle-double-right{
		animation: twinkling 2s infinite ease-in-out ;
		-o-animation: twinkling 2s infinite ease-in-out ;
		-ms-animation: twinkling 2s infinite ease-in-out ;
		-moz-animation: twinkling 2s infinite ease-in-out ;
		-webkit-animation: twinkling 2s infinite ease-in-out ;
	}




	/* 新闻中心 - 视频新闻  videoNews */
	.videoNews { padding-bottom: 5em;}
	.videoNews .videoNews-title{ text-align: center; padding-top: 3em;}
	.videoNews .videoNews-title a{ color: #333333; font-size: 1.375em; font-weight: bold;
		text-align: center; line-height: 72px; letter-spacing: 3px;}
	.videoNews .list-padding-horizontal-md{ padding-right: .75em; padding-left: .75em}
	.videoNews li.list-padding-horizontal-md{ overflow: hidden;}

	.videoNews li.list-padding-horizontal-md ul li.list-left,
	.videoNews li.list-padding-horizontal-md ul li.list-right,
	.videoNews li.list-padding-horizontal-md ul li.list-padding-horizontal-xs{ 
		padding-right: .875em; padding-left: .875em}
	.videoNews a.vMovies{
		background-color: #25397b;
		color: 4A4A51; margin-top: .75em;
		width: 100%; overflow: hidden; display: block; 
		position: relative; padding: 0
	}
	.videoNews a.vMovies img{ z-index: -1; width: 100%;}
	.videoNews a.vMovies span.play{
		position: absolute; top: 88%; left: auto; right: 2%; z-index: 1;}
	.videoNews a.vMovies h2{ font-size: 1.125em;
		bottom: 1em; left: 12px; text-align: left; font-weight: 300;}
	.videoNews a.vMovies h5{ font-size: .875em;
		bottom: .125em; left: 12px; text-align: left; line-height: 12px;}
	.videoNews a.vMovies:hover span.play{ background: url(../img/play.png);
		display: block; margin-top: -36px; top: 50%; left: auto; right: 50%;
		margin-right: -36px;}
	.videoNews a.vMovies:hover h2{ font-weight: bold; bottom: .75em;}
	.videoNews a.vMovies:hover h5{ bottom: -4px}


	.videoNews a.vMovies h2.video-listit{ font-size: 1em;
		bottom: -6px; left: 12px; text-align: left; font-weight: 300;}

	.videoNews a.vMovies span.play {
	  -webkit-transform: scale(0.64);
	  -moz-transform: scale(0.64);
	  -ms-transform: scale(0.64);
	  -o-transform: scale(0.64);
	  transform: scale(0.64);
	}
	.videoNews a.vMovies:hover span.play {
	  -webkit-transform: scale(0.88);
	  -moz-transform: scale(0.88);
	  -ms-transform: scale(0.88);
	  -o-transform: scale(0.88);
	  transform: scale(0.88);
	}

	/* 新闻中心 - 视频新闻  videoNews End */




/* 单独大屏幕 － article 文章 :hover状态*/
@media (min-width: 1025px){

	/* headroom & BackToTop 样式表*/
    #header{
      position: fixed; top:0; left: 0; right: 0;
    }
      .animated,.floatAni { 
      	-webkit-animation-duration: .5s; 
      	-moz-animation-duration: .5s; 
      	-ms-animation-duration: .5s;
        -o-animation-duration: .5s; 
        animation-duration: .5s; 
        -webkit-animation-fill-mode: both; 
        -moz-animation-fill-mode: both; 
        -ms-animation-fill-mode: both; 
        -o-animation-fill-mode: both; 
        animation-fill-mode: both;
      }

      @-webkit-keyframes slideDown {
        0% { top: -4.5em; }
        100% { top: 0; }
      }
      @-moz-keyframes slideDown {
        0% { top: -4.5em; }
        100% { top: 0; }
      }
      @-ms-keyframes slideDown {
        0% { top: -4.5em; }
        100% { top: 0; }
      }
      @-o-keyframes slideDown {
        0% { top: -4.5em; }
        100% { top: 0; }
      }
      @keyframes slideDown {
        0% { top: -4.5em; }
        100% { top: 0; }
      }

      .animated.slideDown { 
      	-webkit-animation-name: slideDown; 
      	-moz-animation-name: slideDown; 
        -ms-animation-name: slideDown;
        -o-animation-name: slideDown; 
        animation-name: slideDown }

      @-webkit-keyframes slideUp {
        0% { top: 0; }
        100% { top: -4.5em; }
      }
      @-moz-keyframes slideUp {
        0% { top: 0; }
        100% { top: -4.5em; }
      }
      @-ms-keyframes slideUp {
        0% { top: 0; }
        100% { top: -4.5em; }
      }
      @-o-keyframes slideUp {
        0% { top: 0; }
        100% { top: -4.5em; }
      }
      @keyframes slideUp {
        0% { top: 0; }
        100% { top: -4.5em; }
      }
      .animated.slideUp { 
        -webkit-animation-name: slideUp; 
        -moz-animation-name: slideUp; 
        -ms-animation-name: slideUp;
        -o-animation-name: slideUp; 
        animation-name: slideUp }

      @-webkit-keyframes floatShow {
        0% { right: 0; opacity: 0;  }
        100% { right: 2em; opacity: 1;}
      }
      @-moz-keyframes floatShow {
        0% { right: 0; opacity: 0;  }
        100% { right: 2em; opacity: 1;}
      }
      @-ms-keyframes floatShow {
        0% { right: 0; opacity: 0;  }
        100% { right: 2em; opacity: 1;}
      }
      @-o-keyframes floatShow {
        0% { right: 0; opacity: 0;  }
        100% { right: 2em; opacity: 1;}
      }
      @keyframes floatShow {
        0% { right: 0; opacity: 0;  }
        100% { right: 2em; opacity: 1;}
      }

      .floatAni.floatShow { 
      	-webkit-animation-name: floatShow; 
      	-moz-animation-name: floatShow; 
        -ms-animation-name: floatShow; 
        -o-animation-name: floatShow; 
        animation-name: floatShow }

      @-webkit-keyframes floatHide {
        0% { right: 2em; opacity: 1; }
        100% { right: 0; opacity: 0; }
      }
      @-moz-keyframes floatHide {
        0% { right: 2em; opacity: 1; }
        100% { right: 0; opacity: 0; }
      }
      @-ms-keyframes floatHide {
        0% { right: 2em; opacity: 1; }
        100% { right: 0; opacity: 0; }
      }
      @-o-keyframes floatHide {
        0% { right: 2em; opacity: 1; }
        100% { right: 0; opacity: 0; }
      }
      @keyframes floatHide {
        0% { right: 2em; opacity: 1; }
        100% { right: 0; opacity: 0; }
      }
      .floatAni.floatHide { 
        -webkit-animation-name: floatHide; 
        -moz-animation-name: floatHide; 
        -ms-animation-name: floatHide;
        -o-animation-name: floatHide;  
        animation-name: floatHide }



	.listStatus{ margin-top: 0;}

	.newsGather .infoCenter ul li{ height: 96px;}
	.newsGather .infoCenter ul li .date{
		border-right: 0;
	}
	.newsGather .infoCenter ul li .date h3{
	  font-size: 2em;
	}
	.newsGather .infoCenter ul li .box{
		padding-left: 0; padding-top: 1.5em;
	}
	.newsGather .infoCenter ul li .box a{
		white-space:nowrap !important; word-wrap: normal; overflow: hidden; white-space: nowrap;
	 	text-overflow: ellipsis; -o-text-overflow: ellipsis;
	 	-ms-text-overflow: ellipsis; -moz-text-overflow: ellipsis;
	 	-webkit-text-overflow: ellipsis; 
	}
	.newsGather .infoCenter .clear-info{
	  clear: both;
	  margin: 2px 0;
	  height: 1px;
	  width: 100%;
	  background: #f2f2f2;
	}

	.article-pic:hover .am-article h1{
		color: #ffffff; margin-left: 12px;
		text-shadow:0 1px 12px rgba(0,0,0,1);
	}
	.article-pic:hover .am-article .am-article-meta{
		bottom: 32px;
	}
	.article-pic:hover img{
	    -webkit-filter: blur(8px); /* Chrome, Opera */
	       -moz-filter: blur(8px);
	        -ms-filter: blur(8px);
         	 -o-filter: blur(8px);     
	            filter: blur(8px);
	    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=8, MakeShadow=false); /* IE6~IE9 */
	}
}
/* 单独大屏幕 － article 文章 :hover状态  END*/
@media (max-width: 1024px){

	.vessay-seg{ height: 0; } 

	.statusBar,.listNews{ background: #ececec}
	.relNews{ background: #ececec;}

	.listStatus.am-header{ height: 98px;}
	.listStatus.am-header-default .am-header-nav{ margin-top: 1.375em;}
	.listStatus.am-header h1.am-header-title{ line-height: 98px; font-size: 1.5em}
	

	/* header-searchStatus 栏目状态栏*/
	.listStatus.searchStatus.am-header{ height: 72px;}
	.listStatus.searchStatus.am-header-default .am-header-nav{ margin-top: .75em;}
	.listStatus.searchStatus.am-header h1.am-header-title{ line-height: 72px; font-size: 1.25em; font-weight: bold;}

	.listStatus.searchStatus{ background: #293e86; position: relative;}
	
	/* header-searchStatus 移动端搜索色彩模式 － 白色系
	.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn{
		background: #ffffff; border: 1px solid #ffffff; border-color: #ececec }
	.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn span.am-icon-search{
		color: #999999
	}
	.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn:hover{
		background: #f0f1f8; border: 1px solid #f0f1f8;
	}	*/

	/* 新闻中心  newsGather 移动端优化*/
	.listStatus.newsStatus{ background: #293e86;}
	.newsGather{ padding-top: 0;}
	
	.newsGather .list-padding-horizontal-md.newsSlideBox{ padding-right: 0; padding-left: 0}
	.newsGather .list-padding-horizontal-md.recentNewsBox{ padding-right: 0.375em; padding-left: 0.75em}
	.newsGather .list-padding-horizontal-md.hotNewsBox{ padding-right: 0.75em; padding-left: 0.375em}
	.newsGather .infoCenter{ margin-top: 1.5em;}
	.newsSlide{ width: 100%; height: auto; max-height: auto; margin:0 auto; overflow: hidden}
	.newsSlide ul.am-slides li{ width: 100%; height: 100%;}
	.newsSlide.am-slider-c3 .am-slider-desc{
	  right: 0; top: auto; bottom: 0;}



	/* header-searchStatus 移动端搜索色彩模式   － 深色系	 Start*/
	.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn{
		background: #E3E7F6; border: 1px solid #E3E7F6; color: #7E8E9E }
	.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn:hover{
		background: #f0f1f8; border: 1px solid #f0f1f8;
	}
	.listStatus.searchStatus .search-box .am-input-group-primary input.am-form-field{
		border:.0em solid #E3E7F6; color: #333333; background: #E3E7F6;
	}
	.listStatus.searchStatus .search-box .am-input-group-primary input.am-form-field::-webkit-input-placeholder {
	    color:    #96a1c3;}
	.listStatus.searchStatus .search-box .am-input-group-primary input.am-form-field:-moz-placeholder {
	    color:    #96a1c3;}
	.listStatus.searchStatus .search-box .am-input-group-primary input.am-form-field::-moz-placeholder {
	    color:    #96a1c3;}
	.listStatus.searchStatus .search-box .am-input-group-primary input.am-form-field:-ms-input-placeholder {
	    color:    #96a1c3;}
	.listStatus.searchStatus .search-box .am-input-group-primary:focus input.am-form-field{
		background: #ffffff;
	}
	.listStatus.searchStatus .search-box .am-input-group-primary input.am-form-field:focus{
		background: #ffffff;
	}
	/* header-searchStatus 移动端搜索色彩模式   － 深色系	 End*/


	.videoNews a.vMovies h2{ font-size: 1em;}
	.videoNews a.vMovies h5{ font-size: .75em;}
	.videoNews a.vMovies h2.video-listit{ font-size: .875em;}


	.refreshBox button.btn-refresh{ width: 68%;}
	.refreshBox button.btn-refresh{ font-size: 1em; line-height: 44px;}

	.listStatus.searchStatus .search-box{ margin-top: 0}
	.listStatus.searchStatus .search-box .am-input-group-primary{
		width: 90%;/*写给不支持calc()的浏览器*/
		width: -webkit-calc(100% - 3.5em);
		width: -moz-calc(100% - 3.5em);
		width: -ms-calc(100% - 3.5em);
		width: -o-calc(100% - 3.5em);
		width: calc(100% - 3.5em); 
		height: 56px;
		margin: 8px auto;
		position: absolute; top: 0; right: .5em; left: 3em; padding: 0;}
	.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn{
		padding: 1em 2.25em; height: 56px;
		-webkit-border-radius: 0 12px 12px 0;
		-moz-border-radius: 0 12px 12px 0;
		-ms-border-radius: 0 12px 12px 0;
		-o-border-radius: 0 12px 12px 0;
		border-radius: 0 12px 12px 0;}
	.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn span.am-icon-search{
		font-size: 1.25em;}

	.listStatus.searchStatus .search-box .am-input-group-primary input.am-form-field{
		height: 56px; text-indent: .5em;
		font-size: 1em;
		-webkit-border-radius: 12px 0 0 12px;
		-moz-border-radius: 12px 0 0 12px;
		-ms-border-radius: 12px 0 0 12px;
		-o-border-radius: 12px 0 0 12px;
		border-radius: 12px 0 0 12px;}
	.listStatus.searchStatus .search-box .am-input-group-primary input.am-form-field:focus {
	  border-color: #6D789C;
	  outline: thin dotted \9;
		box-shadow: 0 0 3px rgba(255, 255, 255, 0.24);
		-o-box-shadow: 0 0 3px rgba(255, 255, 255, 0.24);
		-ms-box-shadow: 0 0 3px rgba(255, 255, 255, 0.24);
		-moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.24);
		-webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.24);
	}

	.am-slider-c3 .am-direction-nav li,
	.am-slider-c3 .am-direction-nav li a.am-prev,
	.am-slider-c3 .am-direction-nav li a.am-next{ display: none}

	blockquote{ font-size: .75em}

	.article-pic img{
	    -webkit-transform: translateX(0%) translateY(-15%);
	    -moz-transform: translateX(0%) translateY(-15%);
	    -ms-transform: translateX(0%) translateY(-15%);
	    -o-transform: translateX(0%) translateY(-15%);
	    transform: translateX(0%) translateY(-15%);
	}
}


@media only screen and (min-width: 641px) and (max-width: 1024px){

	.article .article-pic{ height: 300px;}
	.article-pic .article-pic-hover{height: 300px;}
	.article-pic .am-article{height: 300px;}

	.article-pic .am-article h1{ color: #dddddd; font-size: 1.625em; line-height: 32px;
		margin-top: 2em; letter-spacing: 1px; margin-left: 0;}

	.am-slider-c3 .am-slider-desc{ right: 0; bottom: 0; top: auto;}

	.art-slide{ width: 100%; height: auto}

	/* header-searchStatus 内页底部排版 */
	.footer .am-u-lg-2 a.logo-bottom{ margin: 32px auto 0}
	.footer .am-u-lg-4 p.footer-copyinfo{ margin: 24px auto 32px;}
	.footer .am-u-lg-3.footer-link ul li a{ text-indent: 1em; float: left;}
	.footer .am-u-lg-4 p.footer-copyinfo span{ color: #606fa3}


}


@media (max-width:640px){

.listStatus.am-header{ height: 60px;}
.listStatus.am-header-default .am-header-nav{ margin-top: .25em;}
.listStatus.am-header h1.am-header-title{ line-height: 60px; font-size: 1.25em; font-weight: bold;
	text-indent: 0.5em;}

	/* header-searchStatus 栏目状态栏*/
	.listStatus.searchStatus.am-header{ height: 60px;}
	.listStatus.searchStatus.am-header-default .am-header-nav{ margin-top: .25em;}
	.listStatus.searchStatus.am-header h1.am-header-title{ line-height: 60px; font-size: 1em; font-weight: bold;}

	.listStatus.searchStatus{ background: #293e86; position: relative;}
	.listStatus.searchStatus .search-box{ margin-top: 0}
	.listStatus.searchStatus .search-box .am-input-group-primary{
		width: 90%;/*写给不支持calc()的浏览器*/
		width: -webkit-calc(100% - 50px);
		width: -moz-calc(100% - 50px);
		width: -ms-calc(100% - 50px);
		width: -o-calc(100% - 50px);
		width: calc(100% - 50px); 
		height: 48px;
		margin: 6px auto;
		position: absolute; top: 0; right: 8px; left: 42px; padding: 0;}

	.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn{
		padding: .75em 1.875em; height: 48px;}
	.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn span.am-icon-search{
		font-size: 1.25em;}

	.listStatus.searchStatus .search-box .am-input-group-primary input.am-form-field{
		height: 48px; text-indent: .375em; font-size: .875em;}
	/* header-searchStatus input  End*/
	.statusBar.searchBar .search-results{ float: left; text-indent: 1em; width: 100%; overflow: hidden;}

	.am-article p{ font-size: 1em}

	.article .article-pic{ height: auto; overflow: visible;}
	.article-pic .article-pic-back{width: 100%; height: 17.5em;
		 overflow: hidden; display: inline-block;	position: absolute;}
	.article-pic .article-pic-hover{height: 17.5em;}
	.article-pic .am-article{height: auto; display: block; padding-right: 0; padding-left: 0;}
	.article-pic .am-article h1{ color: #dddddd; font-size: 1.5em; line-height: 32px;
		margin-top: 4em; margin-bottom: 2em; min-height: 3em; font-weight: bold;
		padding-right: .5em; padding-left: .5em;}
	.article-pic .am-article .am-article-meta{ bottom: auto; font-size: .75em;
		color: #aaaaaa; padding-right: .5em; padding-left: .5em;}

.am-article p.companyInfo{ text-indent: 0;}
.am-article p.companyInfo b{ color: #666666; width: 80px;
	font-size: 0.875em; text-align: center;}

	/* 新闻中心  newsGather 移动端优化*/
	.newsSlide{ width: 100%; height: auto; max-height: auto; margin:0 auto; overflow: hidden}
	.newsSlide ul.am-slides li{ width: 100%; height: 100%;}
	.newsSlide.am-slider-c3 .am-slider-desc{
	  right: 0; top: auto; bottom: 0;}
	.newsGather .list-padding-horizontal-md.recentNewsBox,
	.newsGather .list-padding-horizontal-md.hotNewsBox,
	.newsGather .list-padding-horizontal-md.noticeBox{ padding-right: 0.5em; padding-left: 0.5em}
	.newsGather .listNews .list-card.recentNews,.newsGather .listNews .list-card.hotNews{
		height: auto;}
	.newsGather .infoCenter{  
		height: 842px; height: clac(818px + 1.5em);}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card{ padding:1em;}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card a.more,
	.newsGather .infoCenter a.more{ bottom: 1.25em; right: 1.5em;}
	.newsGather .listNews ul.am-avg-lg-2 li .list-card ul.gather-list{
		padding-left: 1.25em;
	}
	.newsGather .infoCenter{ padding-top: 1em;}
	.newsGather .infoCenter .gather-title{ padding-left: 1em; line-height: 32px;}
	.newsGather .infoCenter .gather-title,
	.newsGather .listNews ul.am-avg-lg-2 li .list-card .gather-title{ font-size: 1.125em;}
	.videoNews a.vMovies span.play {
	  -webkit-transform: scale(0.56);
	  -moz-transform: scale(0.56);
	  -ms-transform: scale(0.56);
	  -o-transform: scale(0.56);
	  transform: scale(0.56);
	}
	.videoNews a.vMovies:hover span.play {
	  -webkit-transform: scale(0.81);
	  -moz-transform: scale(0.81);
	  -ms-transform: scale(0.81);
	  -o-transform: scale(0.81);
	  transform: scale(0.81);
	}

	.videoNews li.list-padding-horizontal-md ul li.list-left{ 
		padding-right: .375em; padding-left: .75em}
	.videoNews li.list-padding-horizontal-md ul li.list-right{ 
		padding-right: .75em; padding-left: .375em}

	.refreshBox button.btn-refresh{ width: 88%;}
	.refreshBox button.btn-refresh{ font-size: 1em; line-height: 40px;}


	/* 手机端 状态栏 下滑
	.article .am-sticky{ padding:0 .5em; background: #293e86; height: 3em; text-shadow: 0 1px 3px rgba(0,0,0,0.12);}
	.article .am-sticky.status-phone a.status-back{ line-height: 3em;}
	.article .am-sticky.status-phone .am-cf a.phone-share{ margin-top: .25em}

	.article-pic .am-article .am-article-meta .am-u-lg-8{ height: 24px; overflow: hidden;}
	.article-pic .am-article .am-article-meta .am-u-lg-8 a{ color: #888888;}
	.art-good:hover {color: #333333}*/

	.am-cf h3{ font-weight: bold}



	/* article 正文*/
	blockquote{ font-size: .875em; padding: 2em 1.25em 1.5em; margin-top: .25em; color: #999999;
		font-style: italic;}
	.art-slide{ width: 100%; height: auto}
	.am-slider-c3 .am-slider-desc,.am-slider-c3 .am-slider-counter{ height: 42px;}
	.am-slider-c3 .am-slider-counter{ width:64px;
		line-height: 42px;}
	.am-slider-c3 .am-slider-counter .am-active{ font-size: 1.25em; line-height: 42px;}
	.am-slider-c3 .am-slider-desc{ right: 0; bottom: 0; top: auto; font-size: 1em}
	.am-article p{ text-indent: 2em; margin-bottom: 2em; font-size: 1em;
		line-height: 26px;}
	.am-slider-c3 .am-slides.am-gallery-default .am-gallery-title.am-slider-desc{
		 right: 0; bottom: 0; top: auto; font-size: 1em
	}


	.relNews h2{  margin: 1.75em auto 1.2em .5em; font-size: 1.125em;
	 border-left: 5px solid #293e86; padding-left: .75em; font-weight: bold;}
	.relNews ul.am-avg-lg-4{ margin-bottom: 3em;}

	.footer{ min-height: 200px; height: auto}
	.footer .am-u-lg-4 p.footer-copyinfo{ margin: 32px auto 24px;}
	.footer .am-u-lg-4 p.footer-copyinfo span{ color: #58679e}

	.article-pic img{
	    -webkit-transform: translateX(0%) translateY(-12%);
	    -moz-transform: translateX(0%) translateY(-12%);
	    -ms-transform: translateX(0%) translateY(-12%);
	    -o-transform: translateX(0%) translateY(-12%);
	    transform: translateX(0%) translateY(-12%);
	}

	.listNews ul table.table-depart{margin-top: 2em;}


}


@media(max-width:560px){
	.usr-action{ width: 196px; height: 92px;}
	ul.usr-action li{ width: 92px; margin: 0 3px; height: 92px; font-size: .875em;}
	.usr-action li a.good-button,
	.usr-action li a.good-button-uable{ width: 92px; margin: 0 3px; 
		height: 92px; font-size: .875em;}
	.usr-action li a.good-button-uable span.good,
	.usr-action li span.good{ background-size: 36px 32px; width: 36px; height: 32px;
		margin-left: 30px; margin-top: 20px}
	.usr-action .usr-share ul.am-cf li a.phone-share{ margin-top: 12px}
	.usr-action .usr-share ul.am-cf li a.phone-share span.am-icon-share-alt{ font-size: 2.125em}

	.newsGather .infoCenter{  
		height: 982px;
		height: -webkit-calc(958px + 1.5em);
		height: -moz-calc(958px + 1.5em);
		height: -ms-calc(958px + 1.5em);
		height: -o-calc(958px + 1.5em);
		height: calc(958px + 1.5em);
	}
}

@media(max-width:520px){

	.article .article-pic{ height: auto; overflow: visible;}
	.article-pic .article-pic-back{width: 100%; height: 13.75em;
		 overflow: hidden; display: inline-block;	position: absolute;}
	.article-pic .article-pic-hover{height: 13.75em;}
	.article-pic .am-article{height: auto; display: block;}
	.article-pic .am-article h1{ color: #dddddd; font-size: 1.25em; line-height: 32px;
		margin-top: 2.5em; margin-bottom: 2em}
	.article-pic .am-article .am-article-meta{ bottom: auto;
		color: #aaaaaa; }
	.article-pic .am-article .am-article-meta .am-u-lg-8 a{ color: #888888;}

	/* header-searchStatus 栏目状态栏*/
	.listStatus.searchStatus.am-header{ height: 60px;}
	.listStatus.searchStatus.am-header-default .am-header-nav{ margin-top: .25em;}
	.listStatus.searchStatus.am-header h1.am-header-title{ line-height: 60px; font-size: 1em; font-weight: bold;}

	.listStatus.searchStatus{ background: #293e86; position: relative;}
	.listStatus.searchStatus .search-box{ margin-top: 0}
	.listStatus.searchStatus .search-box .am-input-group-primary{
		width: 84%;/*写给不支持calc()的浏览器*/
		width: -webkit-calc(100% - 50px);
		width: -moz-calc(100% - 50px);
		width: -ms-calc(100% - 50px);
		width: -o-calc(100% - 50px);
		width: calc(100% - 50px);
		height: 42px; line-height: 42px;
		max-height: 42px;
		margin: 9px auto 9px;
		position: absolute; top: 0; right: 6px; left: 44px; padding: 0;}

	.listStatus.searchStatus .search-box .am-input-group-primary input.am-form-field{
		height: 42px; text-indent: .375em; font-size: .75em;}
	.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn{ height: 42px;
		padding: 0; overflow: hidden;}
	.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn{
		padding: .5em 1.25em; height: 42px; margin: 0;}
	.listStatus.searchStatus .search-box .am-input-group-primary .am-input-group-btn>.am-btn span.am-icon-search{
		font-size: 1.25em;}

	/* header-searchStatus input  End*/


	/* article 正文*/
	blockquote{ padding: 1.5em 1.125em 1.25em; }
	.am-slider-c3 .am-slider-desc,.am-slider-c3 .am-slider-counter{ height: 36px;}
	.am-slider-c3 .am-slider-counter{  width:52px;
		line-height: 36px;}
	.am-slider-c3 .am-slider-counter .am-active{ font-size: 1.125em; line-height: 36px;}

	.am-slider-c3 .am-slides.am-gallery-default .am-gallery-title.am-slider-desc{
		 font-size: 1em; text-indent: 0;
	}

	.relNews h2{  margin: 1.5em auto 1.2em .5em; font-size: 1em}
	.relNews ul.am-avg-lg-4{ margin-bottom: 2em;}


	/* 新闻中心 - 视频新闻  videoNews */
	.videoNews li.list-padding-horizontal-md ul li.list-left,
	.videoNews li.list-padding-horizontal-md ul li.list-right,
	.videoNews li.list-padding-horizontal-md ul li.list-padding-horizontal-xs{ 
		padding-right: .75em; padding-left: .75em; width: 100%;}

	.videoNews a.vMovies h2.video-listit{ font-size: 1em;}

	/* 新闻中心 - 视频新闻  videoNews End*/


	.article-pic .am-article .am-article-meta .am-u-lg-8 .article-meta-nature1{ display: none;}

	.article-pic img{
	    -webkit-transform: translateX(0%) translateY(-8%);
	    -moz-transform: translateX(0%) translateY(-8%);
	    -ms-transform: translateX(0%) translateY(-8%);
	    -o-transform: translateX(0%) translateY(-8%);
	    transform: translateX(0%) translateY(-8%);
	}
}

@media(max-width:480px){
	.listStatus.am-header h1.am-header-title{ font-size: 1.125em;
	text-indent: 0.25em;}

	.relNews ul.am-avg-lg-4 li .rel-box .rel-tit{ padding-bottom: .375em}
	.relNews ul.am-avg-lg-4 li .rel-box .rel-tit a.relTitle{ line-height: 2em}
	.relNews ul.am-avg-lg-4 li .rel-box .rel-tit p{ font-size: .625em}

	.usr-action{ width: 168px; height: 80px;}
	ul.usr-action li{ width: 80px; margin: 0 2px; height: 80px; font-size: .75em;}
	.usr-action li a.good-button,
	.usr-action li a.good-button-uable{ width: 80px; margin: 0 2px; height: 80px; font-size: .75em;}
	.usr-action li a.good-button-uable span.good,
	.usr-action li span.good{ background-size: 31px 28px; width: 31px; height: 28px;
		margin-left: 26px; margin-top: 16px}
	.usr-action .usr-share ul.am-cf li a.phone-share{ margin-top: 12px}
	.usr-action .usr-share ul.am-cf li a.phone-share span.am-icon-share-alt{ font-size: 2em}


	.am-slider-c3 .am-slider-counter .am-active{ font-size: 1em; line-height: 36px;}
	.am-slider-c3 .am-slides.am-gallery-default .am-gallery-title.am-slider-desc{
		 font-size: .875em; text-indent: 0;
	}

	.article-pic img{
	    -webkit-transform: translateX(0%) translateY(0%);
	    -moz-transform: translateX(0%) translateY(-4%);
	    -ms-transform: translateX(0%) translateY(-4%);
	    -o-transform: translateX(0%) translateY(-4%);
	    transform: translateX(0%) translateY(-4%);
	}

	.listVideos ul.am-avg-lg-4 li{ width: 100%; margin-bottom: 1em; padding-top: 1em;}
	.listVideos ul.am-avg-lg-4 li .rel-box{ margin-top: 0; margin-bottom: 0;}
}

@media(max-width:420px){
	.article-pic .am-article .am-article-meta .am-u-lg-8 .article-meta-nature2{ 
		display: none;}

}

@media(max-width:400px){
	.article-pic .am-article .am-article-meta .am-u-lg-8 .article-meta-nature3{ 
		display: none;}

}
@media(max-width:360px){

	.article-pic .article-pic-back{width: 100%; height: 10em;
		 overflow: hidden; display: inline-block;	position: absolute;}
	.article-pic .article-pic-hover{height: 10em;}
	.article-pic .am-article{height: auto; display: block;}
	.article-pic .am-article h1{ color: #333333; font-size: 1.125em; line-height: 26px;
		margin-top: 4.75em; margin-bottom: .5em; min-height: 1.5em;}
	.article-pic .am-article .am-article-meta{ bottom: auto; font-size: .625em;
		color: #aaaaaa; }
	.article-pic .am-article .am-article-meta .am-u-lg-8{ height: 24px; overflow: hidden;}
	.article-pic .am-article .am-article-meta .am-u-lg-8 a{ color: #888888;
		}


	.relNews ul.am-avg-lg-4 li .rel-box .rel-tit{ padding-bottom: .375em}
	.relNews ul.am-avg-lg-4 li .rel-box .rel-tit a.relTitle{ line-height: 2em
		font-size:.75em;}

	/* article 正文*/

	blockquote{ font-size: .75em; padding: 1.125em 1.125em 1.25em;}
	.am-slider-c3 .am-slider-desc,.am-slider-c3 .am-slider-counter{ height: 32px;}
	.am-slider-c3 .am-slider-counter{ width:42px;
		line-height: 32px;}
	.am-slider-c3 .am-slider-counter .am-active{ font-size: 1em; line-height: 32px;}
	.am-slider-c3 .am-slider-desc{ font-size: .875em}
	.am-article p{ font-size: 1em; line-height: 26px;}
	.am-slider-c3 .am-slides.am-gallery-default .am-gallery-title.am-slider-desc{
		 font-size: .75em
	}


	.newsGather .infoCenter{  
		height: 1122px; height: clac(1098px + 1.5em);}


	.article-pic img{
	    -webkit-transform: translateX(0%) translateY(0%);
	    -moz-transform: translateX(0%) translateY(0%);
	    -ms-transform: translateX(0%) translateY(0%);
	    -o-transform: translateX(0%) translateY(0%);
	    transform: translateX(0%) translateY(0%);
	}
}


@media(max-width:320px){

	.relNews ul.am-avg-lg-4 li .rel-box .rel-tit p{ display: none;}
	.newsGather .infoCenter{  
		height: 1192px; height: clac(1168px + 1.5em);}
}


